
	<header id="header" class="header">

        <div class="container">
            <div class="row">
                <div class="four columns">
                    <img src="/assets/img/capcom.png" id="logo">
                </div>
    
                <div class="two columns u-pull-right">
                    <ul>
                        <li class="submenu">
                                <img src="/assets/img/carrito.png" id="img-carrito">
                                <div id="carrito">
                                        
                                        <table id="lista-carrito" class="u-full-width">
                                            <thead>
                                                <tr>
                                                    <th>Imagen</th>
                                                    <th>Nombre</th>
                                                    <th>Precio</th>
                                                    <th>Cantidad</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
    
                                        <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                                </div>
                        </li>
                    </ul>
                </div>
                    <div class="container-menu">
                        <a href="#" class="button-menu"><i class="icon fas fa-bars"></i></a>
                        <ul class="menu">
                            <li><a href="#"><i class="icon left fas fa-biohazard"></i>Inicio</a></li>
                            <li><a href="formulario.html"><i class="icon left fas fa-brain"></i>Iniciar Sesion/ Crear cuenta</a></li>
                            <li><a href="#"><i class="icon left fas fa-gamepad"></i>Productos</a></li>
                            <li><a href="#"><i class="icon left fas fa-ghost"></i>Merchandising<i class="icon right fas fa-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#">Juguetes</a></li>
                                    <li><a href="#">Ropa</a></li>
                                    <li><a href="#">Coleccionables</a></li>
                                </ul>                            
                            </li>
                            <li><a href="#"><i class="icon left fas fa-envelope"></i>Soporte</a></li>   
                        </ul>
                    </div>
            </div> 
        </div>
        </header>
    
    
        <div id="hero">
            <div class="container">
                <div class="row">
                        <div class="six columns">
                            <div class="contenido-hero">
                                    <h2>Proximamente... Resident Evil VIII</h2>
                                    <p>Todas las sagas en descuento  </p>
                                    <form  action="https://www.youtube.com/watch?v=y211YBxqfxQ" id="busqueda" method="post" class="formulario">
                                        <input class="u-full-width" type="text" placeholder="¿Que te gustaria ver?" id="buscador">
                                        <input type="submit" id="submit-buscador" class="submit-buscador">
                                    </form>
                            </div>
                        </div>
                </div> 
            </div>
        </div>
    
        <div class="barra">
            <div class="container">
                <div class="row">
                        <div class="four columns icono icono1">
                            <p>Vive el survival horror como nunca antes <br>
                            La 8.ª entrega principal de la aclamada serie Resident Evil</p>
                        </div>
                        <div class="four columns icono icono2">
                            <p>Caras familiares y nuevos enemigos <br>
                            Chris Redfield parece albergar siniestros motivos</p>
                        </div>
                        <div class="four columns icono icono3">
                            <p>Toma el papel de Ethan Winters en esta aventura<br>
                             En busca de su hija perdida en una villa desconocida</p>
                        </div>
                </div>
            </div>
    
        </div>
    
        <div id="lista-juegos" class="container">
            <h1 id="encabezado" class="encabezado">Coleccion Resident Evil:</h1>
            <div class="row">
                <div class="four columns">
                    <div class="card">
                        <img src="/assets/img/R2.jpg" class="imagen-juego u-full-width">
                        <div class="info-card">
                            <h4>Resident Evil 2</h4>
                            <img src="/assets/img/capcom.png" class="u-full-width">
                            <p class="precio">$40  <span class="u-pull-right ">$15</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">Agregar Al Carrito</a>
                        </div>
                    </div> 
                </div>
                <div class="four columns">
                        <div class="card">
                            <img src="/assets/img/R3.jpg" class="imagen-juego u-full-width">
                            <div class="info-card">
                                <h4>Resident Evil 3</h4>
                                
                                <img src="/assets/img/capcom.png" class="u-full-width">
                                <p class="precio">$40  <span class="u-pull-right ">$15</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar Al Carrito</a>
                            </div>
                        </div>
                </div>
                <div class="four columns">
                        <div class="card">
                            <img src="/assets/img/R7.jpg" class="imagen-juego u-full-width">
                            <div class="info-card">
                                <h4>Resident Evil 7</h4>
                                
                                <img src="/assets/img/capcom.png" class="u-full-width">
                                <p class="precio">$50  <span class="u-pull-right ">$15</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="4">Agregar Al Carrito</a>
                            </div>
                        </div> 
                </div>
            </div>
                
                <div class="row">
                    <div class="four columns">
                        <div class="card">
                            <img src="/assets/img/RE4.jpg" class="imagen-juego u-full-width">
                            <div class="info-card">
                                <h4>Resident Evil 4</h4>
                                <img src="/assets/img/capcom.png" class="u-full-width">
                                <p class="precio">$10  <span class="u-pull-right ">$5</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="5">Agregar Al Carrito</a>
                            </div>
                        </div> 
                    </div>
                    <div class="four columns">
                            <div class="card">
                                <img src="/assets/img/RE5.jpg" class="imagen-juego u-full-width">
                                <div class="info-card">
                                    <h4>Resident Evil 5</h4>
                                    
                                    <img src="/assets/img/capcom.png" class="u-full-width">
                                    <p class="precio">$20  <span class="u-pull-right ">$10</span></p>
                                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="6">Agregar Al Carrito</a>
                                </div>
                            </div>
                    </div>
                    <div class="four columns">
                            <div class="card">
                                <img src="/assets/img/RE6.jpg" class="imagen-juego u-full-width">
                                <div class="info-card">
                                    <h4>Resident Evil 6</h4>
                                    
                                    <img src="/assets/img/capcom.png" class="u-full-width">
                                    <p class="precio">$20  <span class="u-pull-right ">$15</span></p>
                                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="7">Agregar Al Carrito</a>
                                </div>
                            </div> 
                    </div>
                </div>  
    
                <div class="row">
                    <div class="four columns">
                        <div class="card">
                            <img src="/assets/img/RE1.jpg" class="imagen-juego u-full-width">
                            <div class="info-card">
                                <h4>Resident Evil </h4>
                                <img src="/assets/img/capcom.png" class="u-full-width">
                                <p class="precio">$10  <span class="u-pull-right ">$5</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="8">Agregar Al Carrito</a>
                            </div>
                        </div> 
                    </div>
                    <div class="four columns">
                            <div class="card">
                                <img src="/assets/img/RE0.jpg" class="imagen-juego u-full-width">
                                <div class="info-card">
                                    <h4>Resident Evil 0</h4>
                                    
                                    <img src="/assets/img/capcom.png" class="u-full-width">
                                    <p class="precio">$20  <span class="u-pull-right ">$10</span></p>
                                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="9">Agregar Al Carrito</a>
                                </div>
                            </div>
                    </div>
                    <div class="four columns">
                            <div class="card">
                                <img src="/assets/img/RE8.jpg" class="imagen-juego u-full-width">
                                <div class="info-card">
                                    <h4>Resident Evil 8</h4>
                                    
                                    <img src="/assets/img/capcom.png" class="u-full-width">
                                    <p class="precio">$60  <span class="u-pull-right ">$55</span></p>
                                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar Al Carrito</a>
                                </div>
                            </div> 
                    </div>
                </div>  
    
        
    
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                        <div class="four columns">
                                <nav id="principal" class="menu">
                                    
                                    <a class="enlace fas fa-paperclip" href="https://game.capcom.com/residentevil/en/"> RESIDENT EVIL.NET</a>
                                    <a class="enlace fas fa-scroll" href="#"> Foros</a>
                                    <a class="enlace fas fa-paper-plane" href="#">  Soporte</a>
                    
                                </nav>
                        </div>
                        <div class="four columns">
                                <nav id="secundaria" class="menu">
                                    <a class="enlace fas fa-copyright" href="https://www.capcom.com/"> CAPCOM</a>
                                    <a class="enlace fas fa-balance-scale" href="https://www.capcom.co.jp/privacy/game/es.html"> Politicas de Privacidad</a>
                                    
                                </nav>
                        </div>
                </div>
            </div>
    
    
        </footer>
        